{
    "presets": ["latest", "stage-0"],
    "env": {
        "production": {
            "plugins": [
                "transform-flow-comments",
                "syntax-flow"
            ]
        },
        "development": {
            "plugins": [
                "lodash",
                "transform-runtime",
                "syntax-flow",
                "syntax-jsx",
                "transform-flow-comments",
                "transform-react-jsx",
                "transform-react-display-name"
            ]
        }
    }
}
