{
    "presets": ["es2015", "stage-0", "react"],
    "plugins": ["lodash", "transform-runtime"],
    "env": {
        "development": {
            "plugins": ["lodash", "transform-runtime", "tcomb"]
        }
    }
}
