{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:react/recommended"
  ],
  "rules": {
    "linebreak-style": 0,
    "no-param-reassign": 0,
    "import/no-extraneous-dependencies": 0,
    "no-control-regex": 0,
    "indent": ["error", 4],
    "comma-dangle": ["error", "never"],
    "arrow-parens": ["error", "as-needed"],
    "max-len": ["error", 120]
  },
  "env": {
    "browser": true
  },
  "plugins": ["react"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
