{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:react/recommended"
  ],
  "plugins": ["react"],
  "rules": {
    "linebreak-style": 0,
    "no-param-reassign": 0,
    "import/no-extraneous-dependencies": 0,
    "indent": ["error", 4],
    "comma-dangle": ["error", "never"],
    "arrow-parens": ["error", "as-needed"],
    "max-len": ["error", 120],
    "class-methods-use-this": [
        "error", {
            "exceptMethods": [
              "componentDidMount",
              "componentDidUpdate",
              "componentWillMount",
              "componentWillReceiveProps",
              "componentWillUnmount",
              "componentWillUpdate",
              "render",
              "shouldComponentUpdate"
            ]
        }
    ]
  },
  "env": {
    "browser": true
  }
}
