.main-container
  display flex
  flex-direction column
  align-items center
  padding-left 2rem
  padding-right 2rem
  height 100vh

.fighting-example
  width 100%
  max-width 1000px
  display flex
  justify-content center
  align-items center
  flex-direction column

  .unplugged
    align-items center
    justify-content center
    width 100%
    display flex
    flex-direction column

  .module
    margin-bottom 2rem
    width 100%

    .name
      text-align center
      background #39CCCC
      margin 0.5rem 0
      padding 0.5rem 0

    .inputs
      display flex
      flex-wrap wrap

      div
        margin-left 0.5rem
        margin-bottom 0.5rem
        padding 0.25rem 0.5rem
        width 2.5rem
        text-align center

      .L
        background-color #AAAABB
      .R
        background-color #CCCCAA
      .D
        background-color #BBAACC
      .L3
        background-color #AAAA55
      .L2
        background-color #BBDDFF
      .L1
        background-color #BBDDFF
      .R3
        background-color #AAAA55
      .R2
        background-color #BBEE99
      .R1
        background-color #BBEE99
      .A
        background-color #FFBBAA
      .B
        background-color #FFBBAA
      .X
        background-color #FFBBAA
      .Y
        background-color #FFBBAA
      .start
        background-color #AAAAAA
      .select
        background-color #AAAAAA
      .home
        background-color #AAAAAA
