.main-container
  display flex
  flex-direction column
  align-items center

header
    text-align center

.log-example
    width 100%
    max-width 1000px
    display flex
    justify-content center
    align-items center
    flex-direction column

    .log
        width 100%

        .log-line
            border-bottom solid 1px
            padding-bottom 0.5rem
            margin-bottom 0.5rem

        .log-count
            background-color black
            color white
            border-radius 4rem
            padding-right 0.5rem
            padding-left 0.5rem
            margin-left 0.5rem

    .module
        padding-bottom 1.5rem
        width 100%

        .name
            text-align center
            background #39CCCC
            margin 0.5rem 0
            padding 0.5rem 0

    .row
        display flex
        align-items center
        padding 0.5rem
        width 100%
        border-bottom solid 1px rgba(200, 200, 200, 0.3)
        flex-wrap wrap

    .input-type
        margin 0.5rem
        padding 0.5rem

    .buttons
        background-color rgba(200, 200, 200, 0.2)
        margin 0.5rem
        padding 0.5rem

    .sticks
        background-color rgba(100, 200, 200, 0.2)
        margin 0.5rem
        padding 0.5rem

    .mappers
        background-color rgba(200, 200, 200, 0.2)
        margin 0.5rem
        padding 0.5rem
