body
    background-color #DFFBFF

.log-example
    width 100%
    max-width 1000px
    display flex
    justify-content center
    align-items center
    flex-direction column

    .module
        font-size 2rem
        margin 2rem
        width 100%

        .name
            text-align center
            background #39CCCC
            margin 1rem 0
            padding 1rem 0

    .row
        display flex
        align-items center
        padding 2rem
        width 100%
        border-bottom solid 1px rgba(200, 200, 200, 0.3)
        flex-wrap wrap

    .input-type
        margin 0.5rem
        padding 0.5rem

    .buttons
        background-color rgba(200, 200, 200, 0.2)
        margin 0.5rem
        padding 0.5rem

    .sticks
        background-color rgba(100, 200, 200, 0.2)
        margin 0.5rem
        padding 0.5rem

    .mappers
        background-color rgba(200, 200, 200, 0.2)
        margin 0.5rem
        padding 0.5rem
