html
    box-sizing border-box
    font-size 10px

body
    margin 0
    padding 0

*, *:before, *:after
    box-sizing inherit

article
    display flex
    flex-direction column
    align-items center

.examples-container
    font-size 2rem

    h1
        font-size 3rem

    h2
        font-size 2rem

    header
        .title
            display block
            text-align center

        select
            width 100%
